<nav class="menu shadow-header">
	<div class="left-menu">
		<div><h1>APPFLIX</h1></div>
		<div class="espacio-menu-izq">
  			<div class="item1"><a href="../peliculas/peliculas.component.html">Películas</a></div>
  			<div><a href="../series/series.component.html">Series</a></div>
  		</div>
	</div>
	<div class="right-menu">
  		<div class="right-menu"><a><img class="lupa" height="20px" width="25px" src="../../assets/img/search.svg"><input type="text" name="buscar" placeholder="busque"></a></div>
  		<div class="right-menu"><a class="cuenta" href="../cuenta/cuenta.component.html">Cuenta</a></div>
	</div>  	
</nav>