.wrapper{
	height: 50vh;
	display:grid;
	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	grid-template-rows: 20%;
}

.item{
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	height: 100%;
	border: 1px solid #000;
	width: 100%;

}
.item:nth-child(even){
	background-color: black;
}