<footer>
  <ul>
    <li><a href="">Audio y subtítulos</a></li>
    <li><a href="">Zona de prensa </a></li>
    <li><a href="">Privacidad </a></li>
    <li><a href="">Contactenos </a></li>
    <li><a href="">Descripción </a></li>
    <li><a href="">Inversores</a></li>
    <li><a href="">Avisos legales</a></li>
    <li><a href="">Centro de ayuda</a></li>
    <li><a href="">Empleo</a></li>
    <li><a href="">Preferencia de cookies</a></li>
    <li><a href="">Tarjetas regalo </a></li>
    <li><a href="">Términos de uso</a></li>
    <li><a href="">Información corporativa</a></li>
  </ul>

  <span class="codigo">Código de servicio</span>
  <span class="appflix">2018-2018 Appflix,inc</span>
</footer>